<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팝푸앙</title>
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
            margin: 0;
            padding: 0;
        }
        .center-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
        }
    </style>
</head>
<body>
<div class="center-container">
    회원가입 화면
</div>
</body>
</html>